<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>ADVmaker test: Статистика</title>
  </head>
  <body>
    <p><a href='/urls'>Перейти к гиперссылкам</a></p>
    <h3>Система вывода статистики</h3>
      {% if urls.count() > 0 %}
        <form method='POST' action=''>
          Выберите URL: <select name='url'>
                              <option>-----</option>
                            {% for url in urls %}
                              <option value="{{ url.get('slug') }}">{{ url.get('url') }}</option>
                            {% endfor %}
                        </select>
          <input type='submit' value='Вывести'>
        </form>
      {% else %}
        <p>Посещений по зарегистрированным ссылкам нет</p>
      {% endif %}

    {% if hits %}
      {% if hits.count() > 0 %}
        <p><p>Общее количество переходов: {{ counter }}</p>
        <table border='1'>
        <tr>
          <th>Время клика</th><th>IP пользователя</th>
        </tr>
        {% for hit in hits %}
          <tr>
            <td>{{ hit.get('_id').generation_time }}</td><td>{{ hit.get('user_ip') }}</td>
          </tr>
        {% endfor %}
        </table>
        </p>
        {% else %}
          <p style='color:red'>Посещения не найдены</p>
        {% endif %}
    {% endif %}
  </body>

</html>