<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>ADVmaker test: URLs</title>
  </head>
  <body>
    <p><a href='/hits'>Перейти к статистике</a></p>
    <h3>Система ввода и отображения рабочих ссылок</h3>
    <form method='POST' action=''>
      Введите URL: <input type='url' name='url' />
      <input type='submit' value='Добавить'>
    </form>

    {% if exists %}
      <p style='color:red'>{{ exists }} - данный  URL уже существует</p>
    {% endif %}
    {% if wrong_url %}
      <p style='color:red'>URL не рабочий, или не соответствует паттерну</p>
    {% endif %}

    {% if urls.count() > 0 %}
      <p>
      <table border='1'>
      <tr>
        <th>Идентификатор</th><th>Ссылка</th>
      </tr>
      {% for url in urls %}
        <tr>
          <td>{{ url.get('slug') }}</td><td><a href='/execute/{{ url.get("slug") }}'>{{ url.get('url') }}</a></td>
        </tr>
      {% endfor %}
      </table>
      </p>
    {% endif %}
  </body>

</html>